name: dispatch
on:
  workflow_dispatch:
    inputs:
        logLevel: 
          description: 'Log level'
          required: true
          default: 'INFO'
          options:
            - DEBUG
            - INFO
            - WARN
            - ERROR
        environment:
          description: 'Environment name'
          required: true
          default: 'dev'
          type: environment
        tags:
          description: 'Tags to filter'
          required: true

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Log the inputs
        shell: bash
        run: |
            echo "Log level: $LEVEL"
            echo "Tags: $TAGS"
            echo "Environment: $ENVIRONMENT"
        env:
            LEVEL: ${{ inputs.logLevel }}
            TAGS: ${{ inputs.tags }}
            ENVIRONMENT: ${{ inputs.environment }}